.form_wrapper {
    margin-top: 25px;
}
label {
    padding: 10px 0 10px 0;
}
.courses {
    display: flex !important;
    margin-bottom: 15px;
    margin-top: 15px;
    color: aquamarine;
}

.button_clear {
    border-color: #ced4da;
    &:hover {
        background-color: #ced4da;
    }
}

.form_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.choose_text {
    font-size: 24px;
    width: 70%;
    margin: 0;
}
