<div class="form_wrapper">
    <div class="form_title">
        <p class="choose_text">Конвертер валют</p>
        <button (click)="clear($event)" class="btn btn-default button_clear">Стерти</button>
    </div>
    
    <div class="row mb-1 ">
        <div class="col">
            
            <select
                [(ngModel)]="selectedOption1"
                
                class="form-control"
                id="Select1"
                
                [value]="selectedOption1"
                (click)="selectedOptionChanged1($event)"
                (click)="inputHandler1($event)"
            >
                <option *ngFor="let item of options" [value]="item.id" >{{item.name}}</option>
                
            </select>
        </div>
        <div class="col">
            
            <select
                [(ngModel)]="selectedOption2"
                id="Select2"
                class="form-control"
                id="exampleFormControlSelect1"
                [value]="selectedOption2"
                (click)="selectedOptionChanged2($event)"
                (click)="inputHandler2($event)"
            >
            <option *ngFor="let item of options" [value]="item.id" >{{item.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input
                id="input1"
                #input1
                type="number"
                class="form-control"
                [disabled]="disabledValue1"
                autofocus
                (keyup)="getValue1(input1.value)"
                [value]="currencyInput_1"
                (input)="inputHandler1($event)"
                
                
            />
        </div>
        <div class="col">
            <input
                id="input2"
                #input2
                type="number"
                class="form-control"
                [disabled]="disabledValue2"
                (keyup)="getValue2(input2.value)"
                (input)="inputHandler2($event)"
                
                [value]="currencyInput_2"
                
                
            />
        </div>
    </div>
</div>



